body{
  width: 100vw;
  background-color:azure;
}

.header{
  background-color: rgba(17, 17, 128, 0.356);
  border-bottom: 3px solid crimson;
  padding-top: -2px 0;
  margin-top: -23px;
}


img {
    display:block;
    max-width:100%;
    height: auto;
    margin:auto;
  }

main{
  background-color:blanchedalmond; 
  max-width: 98vw;
  width: 95vw;
  height:100%;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid brown;
  border-radius: 10px;
  
}

h1 {
  text-align: center;
  padding-top: 15px;}

.small{
  text-align: center;
  font-size:medium;
color:rgb(185, 114, 43);}


.detail {font-size: 60px;
color: rgba(129, 31, 31, 0.863);}

.image-block {background-color: rgba(175, 102, 102, 0.493);

height: auto;
margin-top: 6px;
padding: 6px 0;
width: 60vw;
margin: auto;
}

figcaption{
  margin-top: 5px;
  text-align: center;
}
.tribute-info {
  
}

.tribute-master-box {
/*background-color: chocolate;*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 60vw;
margin: auto;
padding: 10px 0;
}

.tribute-box {
  border: none;
  width: 49vw;
  text-align: justify;
  background-color:rgba(177, 144, 101, 0.308);
  border-radius: 10px;
  margin: 2px 0;
  }

.tribute-box p {
  padding-left: 15px;
  margin-bottom: -15px;
  font-style: oblique;
  font-weight: bold;
}

.closure p, .introduction p, main p{
  padding:0 15px;
  text-align: justify;
}

.quotes-master{
  /*background-color: cyan;*/
  padding: 15px 0px;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: flex-start;
  justify-content:space-between;
  }

.mondlane-quote, .machel-quote{
  border:none;
  text-align: justify;
  font-style: italic;
  width: 50%;
  background-color: rgba(175, 142, 75, 0.295);
  border-radius: 45px;
}


.mondlane-quote{
  align-items: start;
  margin-left: 2vw;
 }

.machel-quote{
  align-items: end;
  margin-left: 44vw;
}


.signature{
  margin-top: -15px;
  text-align: right;
font-style: italic;}


main p{
  padding-bottom:6px;
text-align: justify;}

div > ul > li, .closure ul > li {padding: 10px 10px 10px 0px;  }

.overview {font-style: normal;
font-weight:bold;
}

details{
  padding-left: 20px;
  padding-top: -10px; 
}

.divider {
height: 2px;
background-color: rgb(212, 131, 8);
width: 45vw;
margin: auto;
}

.disclaimer {
  text-align: center;
  background-color: rgba(204, 144, 98, 0.192);
  width:auto ;
}

.bio {
  font-weight: 600;
}